<%- layout('/layout/modal.ejs') -%>

<div class="alert alert-info" role="alert">
  <h4>Auteur</h4>
  <p>Frédéric MUNIER</p>
</div>

<p>
Ce module permet à SARAH de lui demander de reproduire différents sons et cris d'animaux<br>
C'est complètement inutile donc indispensable ! Cela amuse beaucoup les enfants et moi le premier !
</p>

<div class="tab-content">
<h4>Version 2.0:</h4>
<pre>
- compatible avec SARAH V4: plugin conforme en tout point avec le format de Sarah V4
- utilisation de grammaires dynamiques
</pre>

<h4>Version 1.1:</h4>
<pre>
- Mise en place du portlet dans l'interface de Sarah
</pre>

<h4>Version 1.0:</h4>
<pre>
- Première version public
</pre>
</div>
	
<h4>Commandes Vocales:</h4>
<p>
Afin d'éviter de surcharger les grammaires de SARAH et limiter les faux-positifs, il est nécéssaire au préalable d'activer ce plugin avant de demander à SARAH de reproduire un son.
</p>

<p>
<strong>Activation du plugin:</strong><br>
<i>"Sarah, fais des sons"</i><br>
Réponse:<br>
<i>"Quels sons souhaites-tu que je fasse ?"</i>
</p>

<p>
Ensuite une reproduction peut être demandée:<br>
<i>"fais le cochon d'inde"</i> (pas besoin de dire au préalable "Sarah")<br>
Réponse:<br>
<i>"Ouiiiiiiiiin ! Ouiiiiiiiiin !"</i>
</p>

<p>
<strong>Désactivation du plugin:</strong><br>
<i>"Arrêtes de faire des sons"</i><br>
Réponse:<br>
<i>"ok, terminé."</i>
</p>

<p>
<strong>Liste des animaux par ordre alphabétique:</strong><br>
- abeille <br>
- agneau<br>
- âne<br>
- baleine<br>
- bison<br>
- blaireau<br>
- bouc<br>
- bourdon<br>
- canard<br>
- cerf<br>
- chameau<br>
- chamois<br>
- chat<br>
- chauve-souris<br>
- cheval<br>
- chèvre<br>
- chevreau<br>
- chien<br>
- chien de prairie<br>
- cigale<br>
- cochon d'Inde<br>
- couguar<br>
- coyote<br>
- crapaud<br>
- criquet<br>
- crocodile<br>
- dauphin<br>
- diable de Tasmanie<br>
- dingo<br>
- dromadaire<br>
- écureuil<br>
- elephant<br>
- fennec<br>
- gorille<br>
- grenouille<br>
- grillon<br>
- guepard<br>
- hamster<br>
- hérisson<br>
- hyène<br>
- jaguar<br>
- lama<br>
- lapin<br>
- lémurien<br>
- léopard<br>
- lézard<br>
- lion<br>
- loup<br>
- loutre<br>
- lynx<br>
- marmotte<br>
- moustique<br>
- mouton<br>
- ours<br>
- panthère<br>
- porc<br>
- poule<br>
- poussin<br>
- rat<br>
- sauterelle<br>
- serpent<br>
- singe<br>
- souris<br>
- taureau<br>
- tigre<br>
- vache<br>
- veau<br>
- vipère<br>
- zèbre<br>
</p>