<% script('/TvProg/www/js/portlet.js'); %>
<% stylesheet('/TvProg/www/less/TvProg.css'); %>

<div class="logo portlet-handle">
    <img id="epgIcon"/>
    <div class="epgText"></div>
</div>
<div class="preview">
    <img id="epgPrev"/>
</div>
